<a href="https://colab.research.google.com/github/Gaurav3666/data-Science/blob/main/Hello_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# i have made
""" My name is gaurav
i am pursuing data science course
i had written my first code"""
# my first code
print("hello world")

hello world

In [ ]:
#NAME
print("my name is gaurav")
#AGE
print("i am 19 years old")

my name is gaurav
i am 19 years old

In [ ]:
print("                                      *  BIO DATA  *                                                 ")



print("                                   * PERSNOL INFORMATION *                                         ")
my_name="gaurav"
print(my_name)
my_age="19"
print(my_age)
gender="male"
print(gender)
nationality="nationality-indian"
print(nationality)
religion="Hindu"
print(religion)
language="Fluency in - english,hindi"
print(language)
blood_group="blood group-O+ive"
print(blood_group)
father_name="father name-arun kumar"
print(father_name)
dob="dob-04/03/2007"
print(dob)
print("                                 * EDUCATION QUALIFICATIONS *                                        ")
print("EDUCATION QUALIFICATION-BCOM")
print("CURRENTLY PURSUING-DATA SCIENCE COURSE CBITSS")
print("FLUENCY IN - ENGLISH ,HINDI")
print("ADDRESS-CHANDIGARH")
print("EMAIL ID-gauravtk006@gmail.com")
print("CONTACT-6280172709")

                                      *  BIO DATA  *
                                   * PERSNOL INFORMATION *
gaurav
19
male
nationality-indian
Hindu
Fluency in - english,hindi
blood group-O+ive
father name-arun kumar
dob-04/03/2007
                                 * EDUCATION QUALIFICATIONS *
EDUCATION QUALIFICATION-BCOM
CURRENTLY PURSUING-DATA SCIENCE COURSE CBITSS
FLUENCY IN - ENGLISH ,HINDI
ADDRESS-CHANDIGARH
EMAIL ID-gauravtk006@gmail.com
CONTACT-6280172709

In [ ]:
a=(10)
print(" i am trying to print a ",a)
b=(19)
print(b)

 i am trying to print a  10
19

In [ ]:
print("*************************************************************  Menu List  *********************************************************************************************")
print("                Beverages                      ")
print("Vanilla shake   -     70")
print("strawberry shake  -    90")
print("Chocklate shake   -    50")
print("Oreo shake     -       85")
print("Mango shake     -      70")
print("banana shake    -      50")

print("                                                              Apetizers                                                                                        ")
print("                                                      Fruit salad   -   160")
print("                                                       Sandwich   -   210")
print("                                                      French fries   -   160")
print("                                                         Nuggets   -   260")
print("                                                          Matcha   -   149")
print("                                                                                                             Main Course")
print("                                                                                                       Chole bhature   -   160")
print("                                                                                                     Chicken biryani   -   350")
print("                                                                                                        Matar paneer   -   180")
print("                                                                                                             Chapati   -   30")
print("                                                                                                           Dal makhni  -   140")

*************************************************************  Menu List  *********************************************************************************************
                Beverages
Vanilla shake   -     70
strawberry shake  -    90
Chocklate shake   -    50
Oreo shake     -       85
Mango shake     -      70
banana shake    -      50
                                                              Apetizers
                                                      Fruit salad   -   160
                                                       Sandwich   -   210
                                                      French fries   -   160
                                                         Nuggets   -   260
                                                          Matcha   -   149
                                                                                                             Main Course
                                                                                                       Chole bhature   -   160
                                                                                                     Chicken biryani   -   350
                                                                                                     Matar paneer   -   180
                                                                                                        Chapati   -   30
                                                                                                         Dal makhni  -   140

In [ ]:
print("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MOVIES DETAILS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
print("   MOVIE TITLE                           Director                        GENRE                               MPA RATING   ")
print("   Brahmastra                            Ayan Mukerji                   Action/Fantasy                         5.6                 ")
print("   Hera pheri                             Priyadarshan                   Comedy                                8.5                              ")
print("    Welcome                               Anees Bazmee                  Action/Comedy                          7.1")
print("    Jumanji                               Jake kasdan                   Adventure/Comedy                        7")
Movie_name1="     Bahubali                            S. S. Rajamouli               Action/Fantasy                           8.9"
print(Movie_name1)
War="       War                                Siddharth Anand             Action/Thriller                            8.5"
print(War)
War_2="     War 2                                 Siddharth Anand              Action/Thriller                          8.9"
print(War_2)

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MOVIES DETAILS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
   MOVIE TITLE                           Director                        GENRE                               MPA RATING
   Brahmastra                            Ayan Mukerji                   Action/Fantasy                         5.6
   Hera pheri                             Priyadarshan                   Comedy                                8.5
    Welcome                               Anees Bazmee                  Action/Comedy                          7.1
    Jumanji                               Jake kasdan                   Adventure/Comedy                        7
     Bahubali                            S. S. Rajamouli               Action/Fantasy                           8.9
       War                                Siddharth Anand             Action/Thriller                            8.5
     War 2                                 Siddharth Anand              Action/Thriller                          8.9

In [ ]:
name = str(input("What is your name "))
age = int(input("What is your age"))
Height = float(input("What is your height"))
print(name)
print(age)
print(Height)

What is your name Gaurav
What is your age19
What is your height5.8
Gaurav
19
5.8

In [ ]:
principle_ammount = int(input("What is principle ammount :"))
rate = int(input("what is rate :"))
time = int(input("what is TIME :"))
SI = principle_ammount*rate*time/100
print(SI)
Month = (input("Please enter the month"))
Days =  int(input("Please enter the days"))
Year = int(input("Please enetr the year"))
if Month == "January" or Month == "March" or Month == "May" or Month == "July" or Month == "August" or Month == "October" or Month == "December":
  Month_in_days = 31
elif Month == "April" or Month== "June" or Month == "September" or Month == "November":
  Month_in_days = 30
else:
  if Year%4==0 and Year%100!=0 or Year%400==0:
    Month_in_days = 29
  else:
    Month_in_days = 28
    print(Month_in_days)
T1 = Days/Month_in_days
print("Time 1")
print(T1)
S11 = principle_ammount*rate*T1/100
print("Simple interest of days")
print(S11)
Total_ammount_payable = principle_ammount+SI+S11
print("total payable ammount")
print(Total_ammount_payable)

What is principle ammount :1000
what is rate :10
what is TIME :3
300.0
Please enter the monthJanuary
Please enter the days21
Please enetr the year2024
Time 1
0.6774193548387096
Simple interest of days
67.74193548387096
total payable ammount
1367.741935483871

In [ ]:
#control flow
Gender = (input("what is your gender"))
if Gender == "male":
  print("hotel a")
else:
  print("hotel b")

what is your gendermale
hotel a

In [ ]:
#control flow
Gender = (input("what is your gender"))
Age = int(input("What is your age"))
if Gender == "male":
  print("hotel a")
if Age == ">=30":
  print("block a")

elif Gender == "male" and Age>=31:
  print("hotel a block b")
elif Gender =="female" and Age<=30:
 print("hotel b nlock a ")
elif Gender == "female" and Age>=31:
  print("hotel b block b")
else:
  print("invalid")

what is your gendermale
What is your age31
hotel a block b

In [ ]:
number1 = int(input("what is number 1:"))
number2 = int(input("what is number 2:"))
c=number1/number2
print("remainder is:",number1%number2)
print("Quotient is")
print(c)

what is number 1:20
what is number 2:10
remainder is: 0
Quotient is
2.0

In [ ]:
Number = int(input("what is the number : "))
if Number%7==0 and Number%3==0:
   print("yes")
else:
  print("No")

what is the number : 30
No

In [ ]:
Number = float(input("please enter your marks : "))
if Number>=90:
  print(" Grade A+")
elif Number>=80 and Number<90:
  print(" Grade A")
elif Number>=70 and Number<80:
  print(" Grade B+")
elif Number>=60 and Number<70:
  print(" Grade B")
elif Number>=33 and Number<60:
  print(" Grade C")
else:
  print("Fail")

please enter your marks : 85
 Grade A

In [ ]:
id = input("Enter your username : ")
password = input("enter your password")
if id == "Gauravtk006@gmail.com" and password == "Qwerty@123":
  print("Login succesfull")
else:
  print("invalid id and password")

Enter your usernameGauravtk006@gmail.com
enter your passwordQwerty@123
Login succesfull

In [ ]:
A= int(input("please enter the value of A :"))
B= int(input("please enter the value of B :"))
if A>B:
  print("A grater then B")
if B>A:
  print("B is greater then A")

please enter the value of A :10
please enter the value of B :5
A grater then B

In [ ]:
A,B,C = 10,20,30
if A>B and A>C:
  print("A is greater than b and c ")
if B>A and B>C:
  print("B is greater than a and c")
else:
  print("c is greater than a and b")

c is greater than a and b

In [ ]:
Year = int(input("Please enter the year : "))
if Year%4==0 and Year%100!=0 or Year%400==0:
  print("Leap Year")
else:
  print("Not a leap year")

Please enter the year : 2024
Leap Year

In [ ]:
year = int(input("please enter the year"))
if year%4==0:
  print("leap year")
elif year%100!=0:
  print("Leap year")
elif year%400==0:
  print("leap year")
else:
  print("not a leap year")

please enter the year2100
leap year

In [ ]:
# name = "Gaurav"
#for i in name:
 # print(i)
 # if i == "v":
  #  print("this is something special")
for k in range(0,11):
  print(k)

0
1
2
3
4
5
6
7
8
9
10

In [7]:
Product_1 = input("please enter the product name :")
Product_2 = input("please enter the product name :")
Price_1 = int(input("please enter the price of product 1 :"))
Price_2 = int(input("please enter the price of product 2 :"))
Discount_1 = Price_1*10/100
Discount_2 = Price_2*10/100
Price_after_discount_1 = Price_1-Discount_1
Price_after_discount_2 = Price_2-Discount_2
print("Price of product 1 after discount" ,Price_after_discount_1)
print("Price of product 2 after discount" ,Price_after_discount_2)
Price = Price_after_discount_1+Price_after_discount_2
print( "Total price after discount" ,Price)
print("")
print("Login OR Signup")
Mobile_Number = int(input("Please enter the mobile number :"))
Otp = int(input("Please enter the otp"))
print("Login succesfull")
Adress = (input("Please enter the adddess"))
print("Coupon Code")
Coupon_Code = input("Please enter the coupon code")
if Coupon_Code == "GAURAV4":
  print("Coupon code accepted")
  discount = Price*10/100
  Grand_total = Price-discount
  print("Grand total" ,Grand_total)
  print("Thank you for shopping")
else:
    print("Coupon code invalid")
    print("Grand total" , Price)
    print("Thanks for shopping")

please enter the product name :ggfd
please enter the product name :dfdf
please enter the price of product 1 :5695
please enter the price of product 2 :3562
Price of product 1 after discount 5125.5
Price of product 2 after discount 3205.8
Total price after discount 8331.3

Login OR Signup
Please enter the mobile number :6543214569
Please enter the otp3652
Login succesfull
Please enter the adddessdaris chd
Coupon Code
Please enter the coupon codefgfgf
Coupon code invalid
Grand total 8331.3
Thanks for shopping