<a href="https://colab.research.google.com/github/Gaurav3666/data-Science/blob/main/Hello_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# i have made
""" My name is gaurav
i am pursuing data science course
i had written my first code"""
# my first code
print("hello world")

hello world

In [ ]:
#NAME
print("my name is gaurav")
#AGE
print("i am 19 years old")

my name is gaurav
i am 19 years old

In [ ]:
print("                                      *  BIO DATA  *                                                 ")



print("                                   * PERSNOL INFORMATION *                                         ")
my_name="gaurav"
print(my_name)
my_age="19"
print(my_age)
gender="male"
print(gender)
nationality="nationality-indian"
print(nationality)
religion="Hindu"
print(religion)
language="Fluency in - english,hindi"
print(language)
blood_group="blood group-O+ive"
print(blood_group)
father_name="father name-arun kumar"
print(father_name)
dob="dob-04/03/2007"
print(dob)
print("                                 * EDUCATION QUALIFICATIONS *                                        ")
print("EDUCATION QUALIFICATION-BCOM")
print("CURRENTLY PURSUING-DATA SCIENCE COURSE CBITSS")
print("FLUENCY IN - ENGLISH ,HINDI")
print("ADDRESS-CHANDIGARH")
print("EMAIL ID-gauravtk006@gmail.com")
print("CONTACT-6280172709")

                                      *  BIO DATA  *
                                   * PERSNOL INFORMATION *
gaurav
19
male
nationality-indian
Hindu
Fluency in - english,hindi
blood group-O+ive
father name-arun kumar
dob-04/03/2007
                                 * EDUCATION QUALIFICATIONS *
EDUCATION QUALIFICATION-BCOM
CURRENTLY PURSUING-DATA SCIENCE COURSE CBITSS
FLUENCY IN - ENGLISH ,HINDI
ADDRESS-CHANDIGARH
EMAIL ID-gauravtk006@gmail.com
CONTACT-6280172709

In [ ]:
a=(10)
print(" i am trying to print a ",a)
b=(19)
print(b)

 i am trying to print a  10
19

In [ ]:
print("*************************************************************  Menu List  *********************************************************************************************")
print("                Beverages                      ")
print("Vanilla shake   -     70")
print("strawberry shake  -    90")
print("Chocklate shake   -    50")
print("Oreo shake     -       85")
print("Mango shake     -      70")
print("banana shake    -      50")

print("                                                              Apetizers                                                                                        ")
print("                                                      Fruit salad   -   160")
print("                                                       Sandwich   -   210")
print("                                                      French fries   -   160")
print("                                                         Nuggets   -   260")
print("                                                          Matcha   -   149")
print("                                                                                                             Main Course")
print("                                                                                                       Chole bhature   -   160")
print("                                                                                                     Chicken biryani   -   350")
print("                                                                                                        Matar paneer   -   180")
print("                                                                                                             Chapati   -   30")
print("                                                                                                           Dal makhni  -   140")

*************************************************************  Menu List  *********************************************************************************************
                Beverages
Vanilla shake   -     70
strawberry shake  -    90
Chocklate shake   -    50
Oreo shake     -       85
Mango shake     -      70
banana shake    -      50
                                                              Apetizers
                                                      Fruit salad   -   160
                                                       Sandwich   -   210
                                                      French fries   -   160
                                                         Nuggets   -   260
                                                          Matcha   -   149
                                                                                                             Main Course
                                                                                                       Chole bhature   -   160
                                                                                                     Chicken biryani   -   350
                                                                                                     Matar paneer   -   180
                                                                                                        Chapati   -   30
                                                                                                         Dal makhni  -   140

In [ ]:
print("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MOVIES DETAILS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
print("   MOVIE TITLE                           Director                        GENRE                               MPA RATING   ")
print("   Brahmastra                            Ayan Mukerji                   Action/Fantasy                         5.6                 ")
print("   Hera pheri                             Priyadarshan                   Comedy                                8.5                              ")
print("    Welcome                               Anees Bazmee                  Action/Comedy                          7.1")
print("    Jumanji                               Jake kasdan                   Adventure/Comedy                        7")
Movie_name1="     Bahubali                            S. S. Rajamouli               Action/Fantasy                           8.9"
print(Movie_name1)
War="       War                                Siddharth Anand             Action/Thriller                            8.5"
print(War)
War_2="     War 2                                 Siddharth Anand              Action/Thriller                          8.9"
print(War_2)

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MOVIES DETAILS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
   MOVIE TITLE                           Director                        GENRE                               MPA RATING
   Brahmastra                            Ayan Mukerji                   Action/Fantasy                         5.6
   Hera pheri                             Priyadarshan                   Comedy                                8.5
    Welcome                               Anees Bazmee                  Action/Comedy                          7.1
    Jumanji                               Jake kasdan                   Adventure/Comedy                        7
     Bahubali                            S. S. Rajamouli               Action/Fantasy                           8.9
       War                                Siddharth Anand             Action/Thriller                            8.5
     War 2                                 Siddharth Anand              Action/Thriller                          8.9

In [ ]:
name = str(input("What is your name "))
age = int(input("What is your age"))
Height = float(input("What is your height"))
print(name)
print(age)
print(Height)

What is your name Gaurav
What is your age19
What is your height5.8
Gaurav
19
5.8

In [ ]:
p = int(input("What is principle ammount :"))
r = int(input("what is rate :"))
t = int(input("what is TIME :"))
SI = p*r*t/100
print(SI)
p = int(input("What is principle ammount :"))
r = int(input("what is rate :"))
days = float(input("Tell the days"))
SI1 = p*r*days/30//100
print(SI1)
Total_ammount =(p+SI+SI1)
print("Total ammount payable")
print(Total_ammount)
21

In [ ]:
#control flow
Gender = (input("what is your gender"))
if Gender == "male":
  print("hotel a")
else:
  print("hotel b")

what is your gendermale
hotel a

In [5]:
#control flow
Gender = (input("what is your gender"))
Age = int(input("What is your age"))
if Gender == "male" and Age<=30 :
  print("hotel a block a ")
elif Gender == "male" and Age>=29:
  print("hotel a block b")
elif Gender =="female" and Age<=30:
 print("hotel b nlock a ")
elif Gender == "female" and Age>=29:
  print("hotel b block b")
else:
  print("invalid")

what is your genderfemale
What is your age31
hotel b block b

In [ ]:
number1 = int(input("what is number 1:"))
number2 = int(input("what is number 2:"))
c=number1/number2
print("remainder is:",number1%number2)
print("Quotient is")
print(c)

what is number 1:20
what is number 2:10
remainder is: 0
Quotient is
2.0

In [ ]:
Number = int(input("what is the number : "))
if Number%7==0 and Number%3==0:
   print("yes")
else:
  print("No")

what is the number : 30
No

In [13]:
Number = float(input("please enter your marks : "))
if Number>=90:
  print(" Grade A+")
elif Number>=80 and Number<90:
  print(" Grade A")
elif Number>=70 and Number<80:
  print(" Grade B+")
elif Number>=60 and Number<70:
  print(" Grade B")
elif Number>=33 and Number<60:
  print(" Grade C")
else:
  print("Fail")

please enter your marks : 65
 Grade B