<a href="https://colab.research.google.com/github/Gaurav3666/data-Science/blob/main/Hello_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# i have made
""" My name is gaurav
i am pursuing data science course
i had written my first code"""
# my first code
print("hello world")

hello world

In [ ]:
#NAME
print("my name is gaurav")
#AGE
print("i am 19 years old")

my name is gaurav
i am 19 years old

In [ ]:
print("                                      *  BIO DATA  *                                                 ")



print("                                   * PERSNOL INFORMATION *                                         ")
my_name="gaurav"
print(my_name)
my_age="19"
print(my_age)
gender="male"
print(gender)
nationality="nationality-indian"
print(nationality)
religion="Hindu"
print(religion)
language="Fluency in - english,hindi"
print(language)
blood_group="blood group-O+ive"
print(blood_group)
father_name="father name-arun kumar"
print(father_name)
dob="dob-04/03/2007"
print(dob)
print("                                 * EDUCATION QUALIFICATIONS *                                        ")
print("EDUCATION QUALIFICATION-BCOM")
print("CURRENTLY PURSUING-DATA SCIENCE COURSE CBITSS")
print("FLUENCY IN - ENGLISH ,HINDI")
print("ADDRESS-CHANDIGARH")
print("EMAIL ID-gauravtk006@gmail.com")
print("CONTACT-6280172709")

                                      *  BIO DATA  *
                                   * PERSNOL INFORMATION *
gaurav
19
male
nationality-indian
Hindu
Fluency in - english,hindi
blood group-O+ive
father name-arun kumar
dob-04/03/2007
                                 * EDUCATION QUALIFICATIONS *
EDUCATION QUALIFICATION-BCOM
CURRENTLY PURSUING-DATA SCIENCE COURSE CBITSS
FLUENCY IN - ENGLISH ,HINDI
ADDRESS-CHANDIGARH
EMAIL ID-gauravtk006@gmail.com
CONTACT-6280172709

In [ ]:
a=(10)
print(" i am trying to print a ",a)
b=(19)
print(b)

 i am trying to print a  10
19

In [ ]:
print("*************************************************************  Menu List  *********************************************************************************************")
print("                Beverages                      ")
print("Vanilla shake   -     70")
print("strawberry shake  -    90")
print("Chocklate shake   -    50")
print("Oreo shake     -       85")
print("Mango shake     -      70")
print("banana shake    -      50")

print("                                                              Apetizers                                                                                        ")
print("                                                      Fruit salad   -   160")
print("                                                       Sandwich   -   210")
print("                                                      French fries   -   160")
print("                                                         Nuggets   -   260")
print("                                                          Matcha   -   149")
print("                                                                                                             Main Course")
print("                                                                                                       Chole bhature   -   160")
print("                                                                                                     Chicken biryani   -   350")
print("                                                                                                        Matar paneer   -   180")
print("                                                                                                             Chapati   -   30")
print("                                                                                                           Dal makhni  -   140")

*************************************************************  Menu List  *********************************************************************************************
                Beverages
Vanilla shake   -     70
strawberry shake  -    90
Chocklate shake   -    50
Oreo shake     -       85
Mango shake     -      70
banana shake    -      50
                                                              Apetizers
                                                      Fruit salad   -   160
                                                       Sandwich   -   210
                                                      French fries   -   160
                                                         Nuggets   -   260
                                                          Matcha   -   149
                                                                                                             Main Course
                                                                                                       Chole bhature   -   160
                                                                                                     Chicken biryani   -   350
                                                                                                     Matar paneer   -   180
                                                                                                        Chapati   -   30
                                                                                                         Dal makhni  -   140

In [ ]:
print("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MOVIES DETAILS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
print("   MOVIE TITLE                           Director                        GENRE                               MPA RATING   ")
print("   Brahmastra                            Ayan Mukerji                   Action/Fantasy                         5.6                 ")
print("   Hera pheri                             Priyadarshan                   Comedy                                8.5                              ")
print("    Welcome                               Anees Bazmee                  Action/Comedy                          7.1")
print("    Jumanji                               Jake kasdan                   Adventure/Comedy                        7")
Movie_name1="     Bahubali                            S. S. Rajamouli               Action/Fantasy                           8.9"
print(Movie_name1)
War="       War                                Siddharth Anand             Action/Thriller                            8.5"
print(War)
War_2="     War 2                                 Siddharth Anand              Action/Thriller                          8.9"
print(War_2)

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MOVIES DETAILS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
   MOVIE TITLE                           Director                        GENRE                               MPA RATING
   Brahmastra                            Ayan Mukerji                   Action/Fantasy                         5.6
   Hera pheri                             Priyadarshan                   Comedy                                8.5
    Welcome                               Anees Bazmee                  Action/Comedy                          7.1
    Jumanji                               Jake kasdan                   Adventure/Comedy                        7
     Bahubali                            S. S. Rajamouli               Action/Fantasy                           8.9
       War                                Siddharth Anand             Action/Thriller                            8.5
     War 2                                 Siddharth Anand              Action/Thriller                          8.9

In [ ]:
name = str(input("What is your name "))
age = int(input("What is your age"))
Height = float(input("What is your height"))
print(name)
print(age)
print(Height)

What is your name Gaurav
What is your age19
What is your height5.8
Gaurav
19
5.8

In [ ]:
principle_ammount = int(input("What is principle ammount :"))
rate = int(input("what is rate :"))
time = int(input("what is TIME :"))
SI = principle_ammount*rate*time/100
print(SI)
Month = (input("Please enter the month"))
Days =  int(input("Please enter the days"))
Year = int(input("Please enetr the year"))
if Month == "January" or Month == "March" or Month == "May" or Month == "July" or Month == "August" or Month == "October" or Month == "December":
  Month_in_days = 31
elif Month == "April" or Month== "June" or Month == "September" or Month == "November":
  Month_in_days = 30
else:
  if Year%4==0 and Year%100!=0 or Year%400==0:
    Month_in_days = 29
  else:
    Month_in_days = 28
    print(Month_in_days)
T1 = Days/Month_in_days
print("Time 1")
print(T1)
S11 = principle_ammount*rate*T1/100
print("Simple interest of days")
print(S11)
Total_ammount_payable = principle_ammount+SI+S11
print("total payable ammount")
print(Total_ammount_payable)

What is principle ammount :1000
what is rate :10
what is TIME :3
300.0
Please enter the monthJanuary
Please enter the days21
Please enetr the year2024
Time 1
0.6774193548387096
Simple interest of days
67.74193548387096
total payable ammount
1367.741935483871

In [ ]:
#control flow
Gender = (input("what is your gender"))
if Gender == "male":
  print("hotel a")
else:
  print("hotel b")

what is your gendermale
hotel a

In [ ]:
#control flow
Gender = (input("what is your gender"))
Age = int(input("What is your age"))
if Gender == "male":
  print("hotel a")
if Age == ">=30":
  print("block a")

elif Gender == "male" and Age>=31:
  print("hotel a block b")
elif Gender =="female" and Age<=30:
 print("hotel b nlock a ")
elif Gender == "female" and Age>=31:
  print("hotel b block b")
else:
  print("invalid")

what is your gendermale
What is your age31
hotel a block b

In [ ]:
number1 = int(input("what is number 1:"))
number2 = int(input("what is number 2:"))
c=number1/number2
print("remainder is:",number1%number2)
print("Quotient is")
print(c)

what is number 1:20
what is number 2:10
remainder is: 0
Quotient is
2.0

In [ ]:
Number = int(input("what is the number : "))
if Number%7==0 and Number%3==0:
   print("yes")
else:
  print("No")

what is the number : 30
No

In [ ]:
Number = float(input("please enter your marks : "))
if Number>=90:
  print(" Grade A+")
elif Number>=80 and Number<90:
  print(" Grade A")
elif Number>=70 and Number<80:
  print(" Grade B+")
elif Number>=60 and Number<70:
  print(" Grade B")
elif Number>=33 and Number<60:
  print(" Grade C")
else:
  print("Fail")

please enter your marks : 85
 Grade A

In [ ]:
id = input("Enter your username : ")
password = input("enter your password")
if id == "Gauravtk006@gmail.com" and password == "Qwerty@123":
  print("Login succesfull")
else:
  print("invalid id and password")

Enter your usernameGauravtk006@gmail.com
enter your passwordQwerty@123
Login succesfull

In [ ]:
A= int(input("please enter the value of A :"))
B= int(input("please enter the value of B :"))
if A>B:
  print("A grater then B")
if B>A:
  print("B is greater then A")

please enter the value of A :10
please enter the value of B :5
A grater then B

In [ ]:
A,B,C = 10,20,30
if A>B and A>C:
  print("A is greater than b and c ")
if B>A and B>C:
  print("B is greater than a and c")
else:
  print("c is greater than a and b")

c is greater than a and b

In [ ]:
Year = int(input("Please enter the year : "))
if Year%4==0 and Year%100!=0 or Year%400==0:
  print("Leap Year")
else:
  print("Not a leap year")

Please enter the year : 2024
Leap Year

In [ ]:
year = int(input("please enter the year"))
if year%4==0:
  print("leap year")
elif year%100!=0:
  print("Leap year")
elif year%400==0:
  print("leap year")
else:
  print("not a leap year")

please enter the year2100
leap year

In [ ]:
# name = "Gaurav"
#for i in name:
 # print(i)
 # if i == "v":
  #  print("this is something special")
for k in range(0,11):
  print(k)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
Product_1 = input("please enter the product name :")
Product_2 = input("please enter the product name :")
Price_1 = int(input("please enter the price of product 1 :"))
Price_2 = int(input("please enter the price of product 2 :"))
Discount_1 = Price_1*10/100
Discount_2 = Price_2*10/100
Price_after_discount_1 = Price_1-Discount_1
Price_after_discount_2 = Price_2-Discount_2
print("Price of product 1 after discount" ,Price_after_discount_1)
print("Price of product 2 after discount" ,Price_after_discount_2)
Price = Price_after_discount_1+Price_after_discount_2
print( "Total price after discount" ,Price)
print("")
print("Login OR Signup")
Mobile_Number = int(input("Please enter the mobile number :"))
Otp = int(input("Please enter the otp"))
print("Login succesfull")
Adress = (input("Please enter the adddess"))
print("Coupon Code")
Coupon_Code = input("Please enter the coupon code")
if Coupon_Code == "GAURAV4":
  print("Coupon code accepted")
  discount = Price*10/100
  Grand_total = Price-discount
  print("Grand total" ,Grand_total)
  print("Thank you for shopping")
else:
    print("Coupon code invalid")
    print("Grand total" , Price)
    print("Thanks for shopping")

please enter the product name :loptop
please enter the product name :phone
please enter the price of product 1 :2566
please enter the price of product 2 :0258
Price of product 1 after discount 2309.4
Price of product 2 after discount 232.2
Total price after discount 2541.6

Login OR Signup
Please enter the mobile number :326598745
Please enter the otp002536692558
Login succesfull
Please enter the adddessdaria chd
Coupon Code
Please enter the coupon codeGAURAV4
Coupon code accepted
Grand total 2287.44
Thank you for shopping

In [ ]:
factorial = 1
for i in range (1,6):
  factorial =factorial*i
print(factorial)

120

In [ ]:
for i in range (0,101):
  if i%5==0 and i%10==0 and i%15!=0:
    print(i)

10
20
40
50
70
80
100

In [ ]:
for i in range (5,51,5):
  print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
Sum = 0
for i in range (0,26):
  if i%2!=0 and i%3!=0 and i%4!=0 and i%5!=0:
    Sum =  Sum+i
    print(Sum)

1
8
19
32
49
68
91
120
151
188
229
272
319
368
421
480
541
608
679
752
829
908
991
1080
1171
1268

In [ ]:
for i in range(0,101):
  if i%5==0 and i%10==0 and i%15!=0 and i%20!=0:
    print(i)

10
50
70

In [ ]:
for i in range(40,81):
  if i%2!=0 and i%15==0 and i%25!=0:
   print(i)

45

In [ ]:
sum = 0
for i in range (0,100):
  if i%2!=0 and i%3!=0 and i%5!=0:
    sum = sum+i
print(sum)

180

In [ ]:
item =[1,2,3,4,5]
item.append(3)
print(item)

[1, 2, 3, 4, 5, 3]

In [ ]:
a= [5,6,7,8]
print(a[0:4:2])

[5, 7]

In [ ]:
sum = 0
a = [5,6,7,8]
for i in a:
  sum = sum +i
print(sum)

26

In [ ]:
a = [1,2,3,4]
a.append(3)
print(a)

[1, 2, 3, 4, 3]

In [ ]:
a= [1,2,3,4,5]
print(a[-1:0])

[]

In [ ]:

item = []
ammount=[]
discount =[]
coupon_lists = ["SAVE10", "SAVE20", "SAVE30"]
coupons_discounts = [10,20,30]
total_bill = 0
grand_total = 0
num = int(input("please enter the number of items you want to add in your list : "))
for i in range (num):
  items = (input("please enter the product name : "))
  ammounts = int(input("pleasde enter the ammount"))
  discounts = int(input("please enter the discount"))
  item.append(items)
  ammount.append(ammounts)
  discount.append(discounts)
  total_bill+=ammounts
  dis = total_bill*discounts/100
  final_bill = total_bill-dis
coupon_code = input("please enter the coupon code")
if  coupon_code in coupon_lists:
  index = coupon_lists.index(coupon_code)
  discount = final_bill*coupons_discounts[index]/100
  grand_total = final_bill - discount
  print(grand_total)
else:
   print("Final bill",final_bill)
print(item)
print(ammount)
print(discount)
print(final_bill)
print(grand_total)

please enter the number of items you want to add in your list : 2
please enter the product name : pizza
pleasde enter the ammount200
please enter the discount10
please enter the product name : urger
pleasde enter the ammount320
please enter the discount10
please enter the coupon codeSAVE20
374.4
['pizza', 'urger']
[200, 320]
93.6
468.0
374.4

In [ ]:
'# while loop
  #start
  #condition
  #increment/decrement
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=10
while a>=1:
  print(a , "hello")
  a=a-1

10 hello
9 hello
8 hello
7 hello
6 hello
5 hello
4 hello
3 hello
2 hello
1 hello

In [ ]:


i=0
while i<=2:
  print(i)
  i=i+1

0
1
2

In [ ]:
number = 5
i=1
fact =1
while i<=number:
  fact = fact*i
  i=i+1

print(fact)

120

In [ ]:
i=1
while i<=100:
  if i%5==0 and i%10==0 and i%15!=0:
    print(i)


  i=i+1

10
20
40
50
70
80
100

In [ ]:
i=1
while i<=10:
  table = 5*i
  i=i+1
  print(table)

5
10
15
20
25
30
35
40
45
50

In [ ]:
i=1
num =0
while i<=100:
  if i%2!=0 and i%3!=0 and i%4!=0 and i%5!=0:
    num = num +i


  i=i+1

print(num)

1268

In [ ]:
i=1
while i<=100:
 if i%2!=0:
  print(i)
 i=i+1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
i=1
while i<=10:
  num = 7*i
  i= i+1
  print(num)

7
14
21
28
35
42
49
56
63
70

In [ ]:
                    # Cosmetics project

cosmetics=[]
price_of_cosmetics=[]
coupons = ["save10", "save20", "save30"]
dicount_on_coupons= [10,20,30]
sum = 0

num = int(input("please enter the number of items you want to add in your cart : "))
for i in range(num):
  cosm = input("please enter the cosmetics : ")
  price = int(input("please enter the price of cosmetics : "))
  cosmetics.append(cosm)
  price_of_cosmetics.append(price)
  sum = sum+price
coupon = (input("please neter the coupon code"))
if coupon in coupons:
   index = coupons.index(coupon)
   discount = sum*dicount_on_coupons[index]/100
   final_price = sum-discount
print("Cosmetics purchased  :  " ,cosmetics)
print("Price of cosmetics purchased  : " , price_of_cosmetics)
print("Total price : " , sum)
print(" coupon discount recieved : " ,discount)
print("Grand total after discount : " ,final_price)

please enter the number of items you want to add in your cart : 2
please enter the cosmetics : gel
please enter the price of cosmetics : 200
please enter the cosmetics : mask
please enter the price of cosmetics : 50
please neter the coupon codesave30
Cosmetics purchased  :   ['gel', 'mask']
Price of cosmetics purchased  :  [200, 50]
Total price :  250
 coupon discount recieved :  75.0
Grand total after discount :  175.0

In [ ]:

for i in range(12):
  if(i==10):
    print("loop broen")
    continue
  print("5 *",i , "=",5*i)

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
loop broen
5 * 11 = 55

In [ ]:
i=1
while i<=10:
  i=i+1
  print(i , end = " ")
  if (i==5):
    print("loop broken")
    continue
  else:
    print("top")
print("loop broken")

2 top
3 top
4 top
5 loop broken
6 top
7 top
8 top
9 top
10 top
11 top
loop broken

In [ ]:
i=0
while True:
  print(i)
  i=i+1
  if i == 5:
    break
print("loop broken")

0
1
2
3
4
loop broken

In [ ]:
                              # string topic
# we made an string named apple
name = "gaurav,saurav"
john  = '''hi i am john
"what are you doing"
i want to eat an apple'''
#if we have to find the length of the string we use len function
#print(len(name))

#print("hello "  + name)
#print(john)
#print(name[0:6])
print("lets use for loop\n")
for i in john:
  print(i , end = " ")
  #print(i)

13
lets use for loop

h i   i   a m   j o h n
 " w h a t   a r e   y o u   d o i n g "
 i   w a n t   t o   e a t   a n   a p p l e

In [ ]:
                                       #sports project
sports_item=[]
price_of_sports_item=[]
sum = 0
num = int(input("please enter the number of items you want to add in your cart : "))
for i in range(num):
  sports = input("please enter the sports item : ")
  price = int(input("please enter the price of sports item : "))
  sports_item.append(sports)
  price_of_sports_item.append(price)
  sum = sum+price
  discount = sum*10/100
  final_price = sum-discount
print("Sports item  purchased  :  " ,sports_item)
print("Price of sports item purchased  : " , price_of_sports_item)
print("Total price : " , sum)
print("10% discount recieved : " ,discount)
print("Grand total after discount : " ,final_price)

please enter the number of items you want to add in your cart : 2
please enter the sports item : bat
please enter the price of sports item : 500
please enter the sports item : ball
please enter the price of sports item : 303
Sports item  purchased  :   [500, 303]
Price of sports item purchased  :  [500, 303]
Total price :  803
10% discount recieved :  80.3
Grand total after discount :  722.7

In [20]:
fruit = "mango"
length = len(fruit)
# python automatically add len[fruit] when we do negative slicing like below
# print(fruit[-1:len(fruit)-3])
# print(fruit[-3:-1])

ng

In [69]:
a = "!Harry!! !!!!!!!!"
print(len(a))
print(a.upper()) # it convert the string into uppercase
print(a.lower()) # it convert the string into lowercase
print(a.rstrip("!")) # it strips the trailing chracters
print(a.replace("Harry", "gaurav")) # this replace all the coourance of a string with anothe string
print(a.split(" ")) # this string method split the given string at a specifie instance and return the seprated string as list item
heading = "introduction to a python to"
print(heading.capitalize()) # the capitalize method turn the first chracter into uppercase and convert rest into the lowercase
print(heading.center(48)) #the centre method align the string into centre
print(a.count("r")) # this method give the number of times the given value has occured within the given string
print(a.endswith("!")) # this method check if the strign end with the given value
print(a.endswith("to", 11 , 15)) # we can even also check for valure between the string by providing start end end index position
print(heading.find("to")) # it searches for fist occurance where it is and give index where it is  , if value not found it wil give -1
print(heading.index("to")) # it is same as find method but if the value not found on the string it will give an error
b = "Gaurav11"
print(b.isalnum()) # it will give true only if strign only contain A-Z a-z 0-9
print(b.isalpha()) #it will give true only if string only contain A-Z , a-z
print(b.islower()) # this method true if all the chracter in the string are in lowercase
print(b.isprintable()) # method return true if all the value given in the string are printable
c = " "
print(c.isspace()) # return true if string contain whitespaces
print(b.istitle()) # return true  only if first letter of each word in the string is capitalised
print(b.isupper()) # return true only if the chracters in the string are all in the uppercase
print(b.startswith("Gaurav")) # method check if the string start with the given value
print(b.swapcase()) # it convert the upper into lower and loweerr into upper
print(heading.title())
# strings are immutable means they cant be change , string methods they operate on your existing string and returns a new string

17
!HARRY!! !!!!!!!!
!harry!! !!!!!!!!
!Harry!!
!gaurav!! !!!!!!!!
['!Harry!!', '!!!!!!!!']
Introduction to a python to
          introduction to a python to
2
True
False
13
13
True
False
False
True
True
True
False
True
gAURAV11
Introduction To A Python To