<a href="https://colab.research.google.com/github/Gaurav3666/data-Science/blob/main/Hello_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# i have made
""" My name is gaurav
i am pursuing data science course
i had written my first code"""
# my first code
print("hello world")

hello world

In [ ]:
#NAME
print("my name is gaurav")
#AGE
print("i am 19 years old")

my name is gaurav
i am 19 years old

In [ ]:
print("                                      *  BIO DATA  *                                                 ")



print("                                   * PERSNOL INFORMATION *                                         ")
my_name="gaurav"
print(my_name)
my_age="19"
print(my_age)
gender="male"
print(gender)
nationality="nationality-indian"
print(nationality)
religion="Hindu"
print(religion)
language="Fluency in - english,hindi"
print(language)
blood_group="blood group-O+ive"
print(blood_group)
father_name="father name-arun kumar"
print(father_name)
dob="dob-04/03/2007"
print(dob)
print("                                 * EDUCATION QUALIFICATIONS *                                        ")
print("EDUCATION QUALIFICATION-BCOM")
print("CURRENTLY PURSUING-DATA SCIENCE COURSE CBITSS")
print("FLUENCY IN - ENGLISH ,HINDI")
print("ADDRESS-CHANDIGARH")
print("EMAIL ID-gauravtk006@gmail.com")
print("CONTACT-6280172709")

                                      *  BIO DATA  *
                                   * PERSNOL INFORMATION *
gaurav
19
male
nationality-indian
Hindu
Fluency in - english,hindi
blood group-O+ive
father name-arun kumar
dob-04/03/2007
                                 * EDUCATION QUALIFICATIONS *
EDUCATION QUALIFICATION-BCOM
CURRENTLY PURSUING-DATA SCIENCE COURSE CBITSS
FLUENCY IN - ENGLISH ,HINDI
ADDRESS-CHANDIGARH
EMAIL ID-gauravtk006@gmail.com
CONTACT-6280172709

In [ ]:
a=(10)
print(" i am trying to print a ",a)
b=(19)
print(b)

 i am trying to print a  10
19

In [21]:
print("*************************************************************  Menu List  *********************************************************************************************")
print("                Beverages                      ")
print("Vanilla shake   -     70")
print("strawberry shake  -    90")
print("Chocklate shake   -    50")
print("Oreo shake     -       85")
print("Mango shake     -      70")
print("banana shake    -      50")

print("                                                              Apetizers                                                                                        ")
print("                                                      Fruit salad   -   160")
print("                                                       Sandwich   -   210")
print("                                                      French fries   -   160")
print("                                                         Nuggets   -   260")
print("                                                          Matcha   -   149")
print("                                                                                                             Main Course")
print("                                                                                                       Chole bhature   -   160")
print("                                                                                                     Chicken biryani   -   350")
print("                                                                                                        Matar paneer   -   180")
print("                                                                                                             Chapati   -   30")
print("                                                                                                           Dal makhni  -   140")

*************************************************************  Menu List  *********************************************************************************************
                Beverages
Vanilla shake   -     70
strawberry shake  -    90
Chocklate shake   -    50
Oreo shake     -       85
Mango shake     -      70
banana shake    -      50
                                                              Apetizers
                                                      Fruit salad   -   160
                                                       Sandwich   -   210
                                                      French fries   -   160
                                                         Nuggets   -   260
                                                          Matcha   -   149
                                                                                                             Main Course
                                                                                                       Chole bhature   -   160
                                                                                                     Chicken biryani   -   350
                                                                                                     Matar paneer   -   180
                                                                                                        Chapati   -   30
                                                                                                         Dal makhni  -   140